* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
  /* BUTTON CLASS  */
.btn {
    background-color: #ff6f91;
    color: #fff;
    border: none;
    padding: 12px 28px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease,
                transform 0.2s ease,
                box-shadow 0.2s ease;
}
img{
    height: 15rem;
    width: auto;
}

/* Hover */
.btn:hover {
    text-transform: uppercase;
    background-color: #ff3f6c;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}





body {
    background: #fffaf7;
    line-height: 1.6;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #f51147;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li a:hover {
    color: #ffe4ec;
    width: 3rem;
    box-shadow: 0 0 0 2px #e3466b;
    border-radius: 20px;
}


/* HERO */
.hero {
    height: 90vh;
    background: url("/images/bd1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    background: rgba(0,0,0,0.5);
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.hero h2 {
    font-size: 40px;
}

/* FEATURE */
/* FEATURES */
.features {
    padding: 60px 40px;
    text-align: center;
    background: #fffaf7;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.feature-card {
    background: #ffe4ec;
    padding: 25px;
    border-radius: 10px;
}

/* REVIEWS */
.reviews {
    padding: 60px 40px;
    background: #fff;
    text-align: center;
}

.review-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.review-card {
    background: #ffdde1;
    padding: 25px;
    border-radius: 10px;
    font-style: italic;
}

/* OFFERS */
.offers {
    padding: 60px 40px;
    background: #ffe4ec;
    text-align: center;
}

.offer-box {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
}


/* ABOUT */
.about {
    padding: 60px 40px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.about img {
    width: 50rem;
    border-radius: 10px;
    height: 30rem;
}

.about-text {
    width: 50%;
}

/* CAKES */
.cakes {
    padding: 60px 40px;
    text-align: center;
    background: #fff;
}

.cake-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
    margin-top: 30px;
}

.cake-card {
    background: #ffe4ec;
    padding: 20px;
    border-radius: 10px;
}

.cake-card img {
    width: 100%;
    border-radius: 10px;
}

/* CONTACT */
.contact {
    padding: 60px 40px;
    text-align: center;
    background: #ffdde1;
}

/* FOOTER */

.footer {
    background: #ff6f91;
    color: white;
    padding-top: 50px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 40px 40px;
}

.footer-box h2,
.footer-box h3 {
    margin-bottom: 15px;
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    margin-bottom: 10px;
}

.footer-box ul li a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    text-decoration: underline;
}

.footer-box ul li a:hover {
    color: #ffe4ec;
}

/* SOCIAL ICONS */
.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    background: white;
    color: #ff6f91;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.9s;
}

.social-icons a:hover {
    background: #ff3f6c;
    color: white;
}

/* FOOTER BOTTOM */
.footer-bottom {
    text-align: center;
    padding: 15px;
    background: #f51147;
    font-size: 14px;
}




/* TABLET RESPOSIVENESS  */

@media (max-width: 1024px) {

    nav {
        padding: 15px 25px;
    }

    .hero h2 {
        font-size: 34px;
    }

    .about {
        padding: 50px 25px;
        gap: 20px;
    }

    .feature-grid,
    .review-grid {
        grid-template-columns: no-repeat(2, 1fr);
    }


    .cakes,
    .contact {
        padding: 50px 25px;
    }

    .cake-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}



/* MOBILE RESPONSIVENESS  */
@media (max-width: 600px) {

    /* NAVBAR */
    nav {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    /* HERO */
    .hero {
        height: 70vh;
        padding: 20px;
    }

    .hero h2 {
        font-size: 26px;
    }

    .hero p {
        font-size: 14px;
    }

    /* ABOUT */
    .about {
        flex-direction: column;
        text-align: center;
    }
    .feature-grid,
    .review-grid {
        grid-template-columns: 1fr;
    }

    .feature-card,
    .review-card {
        padding: 20px;
    }

    .offer-box {
        padding: 20px;
    }

    .about img,
    .about-text {
        width: 100%;
    }

    /* CAKES */
    .cake-grid {
        grid-template-columns: 1fr;
    }

    .cake-card {
        padding: 15px;
    }

    /* BUTTONS */
    .btn,
    .btn-outline {
        width: 100%;
    }

    /* FOOTER */
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }

}
